@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Carlos F. Ramírez Abdalla<br />
    Guatemala, Guatemala<br />
    <abbr title="Phone">Phone:</abbr>
    502.5708.2900
</address>

<address>
    <strong>Support:</strong> <a href="mailto:carlos_205ram@hotmail.com">carlos_205ram@hotmail.com</a><br />
</address>
