@model List<SelectListItem>
@{
    ViewData["Title"] = "COVID Report";
}

<h1>PRUEBA</h1>
<h3>@ViewData["Message"]</h3>
<style>
.button {
  border: none;
  color: white;
  width: 100px;
  height: 38px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #002752;
}

.button2:hover {
  background-color: #002752;
  color: white;
}
table{

width: 980px;
padding: 5px 5px;
border-bottom: 2px solid black;
border-top: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
}
td{
height: 8px;

}
tr{
width: 980px;
border: 2px solid black;
}
</style>
<div class="form-group">
    <table>
        <tr>
            <td style="width: 300px;">
                TOP 10 COVID CASES
            </td>
            <td>
               &nbsp;     
            </td>
            <td>
               &nbsp;
            </td>
            <td>
               &nbsp;     
            </td>
            <td>
                &nbsp;                        
            </td>
            <td>
                &nbsp;                        
            </td>    
        </tr>
        <tr>
            <td style="width: 300px;">

                @Html.DropDownList("Regions", Model, new {@class = "form-control"})
                    
            </td>
            <td>
                <button class="button button1">Report</button>
            </td>
            <td style="width: 50px;">
            
            </td>
            <td>
                <button class="button button2">XML</button>
            </td>
            <td>
                <button class="button button2">JSON</button>
            </td>
            <td>
                <button class="button button2">CSV</button>
            </td>
        </tr>
        <tr>
            <td style="width: 300px;">
                TOP 10 COVID CASES TO PROVINCES
            </td>
            <td>
               &nbsp;                         
            </td>
            <td>
               &nbsp;     
            </td>
            <td>
                &nbsp;                        
            </td>
            <td>
                &nbsp;                     
            </td>
            <td>
                &nbsp;                        
            </td>    
        </tr>
        <tr>
            <td style="width: 300px;">

                @Html.DropDownList("Regions", Model, new {@class = "form-control"})
                    
            </td>
            <td>
                <button class="button button1">Report</button>
            </td>
            <td style="width: 50px;">
            
            </td>
            <td>
                <button class="button button2">XML</button>
            </td>
            <td>
                <button class="button button2">JSON</button>
            </td>
            <td>
                <button class="button button2">CSV</button>
            </td>
        </tr>
    </table>
</div>


